# For backend add the following variables
PORT=
MONGODB_URI=
AIRTABLE_CLIENT_ID=
AIRTABLE_REDIRECT_URI=
AIRTABLE_CLIENT_SECRET=
JWT_SECRET=
FRONTEND_URL=

# For frontend add this variable
VITE_API_URL=